################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQL Snippets.dbmdl
/SQL Snippets.jfm
/obj/Debug/Model.xml
/obj/Debug/SQL Snippets.sqlproj.FileListAbsolute.txt
/obj/Debug/SQL_Snippets.dll
/obj/Debug/SQL_Snippets.pdb
